<!DOCTYPE html>
{% load render_table from django_tables2 %}

<html>
    <head>
        <title>List of something</title>
    </head>
    <body>
         <form method="POST" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
             <label for="number">Number of questions: </label>
             {{ number_form.number.label_tag }}
            {{ number_form.number }}
            {{ number_form.number.errors }}


                <input type="submit" class="btn btn-success" value="Get question">


                    </form>

     {% render_table object_list %}

    </body>
</html>