<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'spa_table:tz1' %}">1 Тестовое задание №1 Случайно заполняем значения таблицы</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'spa_table:tz2' %}">2 Тестовое задание №2 Вопросы</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'spa_table:tz3' %}">3 Тестовое задание №3 Аутенфикация и аудиозамена</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'spa_table:register' %}">5 Тестовое задание №3 Регистрация</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'spa_table:login' %}">6 Тестовое задание №3 Логирование</a>
        </li>
           </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'spa_table:logout' %}">7 Тестовое задание №3 Разлогирование</a>
        </li>
           <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'spa_table:audio' %}">7 Тестовое задание №3 Измененеие аудио расширения</a>
        </li>



      </ul>
    </div>
  </div>
</nav>