<html>
    <div class="container">
        {% extends 'spa_table/registration/base.html' %}

        {% block content %}

        <style>
            .container {
            position: absolute;
            top: 50%;
            left: 30%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
                        }

        </style>

        <span>Project fm Mazo </span>

        {% include 'spa_table/includes/main_menu.html' %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Зарегистрируйтесь</h1>
                {{ form.as_p }}
                <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
                <a class="btn btn-link" href="{% url 'spa_table:login' %}">Есть аккаунт?</a>
            </form>

        {% endblock %}
    </div>
</html>
